body {
  padding-top: 50px;
  height: 2000px;
  font-family: sour gummy;
}

button {
  font-family: sour gummy;
}

.app-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.colums-grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.right-side-task {
  display: flex;
  flex-direction: column;
}
