body {
  padding-top: 50px;
  height: 2000px;
  font-family: sour gummy;
}

button {
  font-family: sour gummy;
}

.app-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.colums-grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.colum-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #e3eef0;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-layout {
  background-color: white;
  cursor: grab;
  border-radius: 10px;
  padding: 12px 15px;
  min-width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-layout:active {
  cursor: grabbing;
}

.right-side-task {
  display: flex;
  flex-direction: column;
}

.task-position-layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0px 8px black;
}

.popup-position-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-flex-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 350px;
  height: 120px;
}

.create-task-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 50px;
  font-family: sour gummy;
  background-color: #7b99ff;
  border-radius: 10px;
  transition: font-size 0.5s;
}

.create-task-button:hover {
  font-size: 20px;
}

.name-on-task {
  color: black;
  font-size: 20px;
  margin-left: 50px;
}

.input-bar {
  padding: 6px 13px;
  margin-bottom: 15px;
}

.add-button,
.close-button {
  padding: 6px 13px;
  margin-right: 10px;
}
